@model JobShopWeb.Models.ViewModel.IndexVM

<div class="container">
    <div class="row pb-4 backgroundWhite">


            <div class="container backgroundWhite pb-4">
                <div class="card border">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-12 col-md-6">
                            <h1 class="text-warning"></h1>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <h1 class="text-warning">List of Jobs, Operations & Machines</h1>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-8">
                                    <div class="row">
                                        <div class="col-12">
                                             
                                               
                                                <table class="table table-striped" style="border:1px solid #808080 ">
                                                    <tr class="table-secondary">
                                                        <th>Job Id</th>
                                                        <th>Name Job</th>
                                                        <th>Name Operation</th>
                                                        <th>Name Machine</th>
                                                        <th>Time</th>
                                                    </tr>
                                                   @foreach (var jobs in Model.JobList)
                                                {
                                                    
                                                <tr>
                                                    <td>@jobs.IdJob</td>
                                                    <th>@jobs.NameJob</th>
                                                    <th>@jobs.NameOperation</th>
                                                     <td>@jobs.NameMachine</td>
                                                    <td>@jobs.Time</td>
                                                     
                                                    
                                                </tr>
                                                }
                                                
                                                    
                                                </table>
                                           
                                            
                                        </div>
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>